/* Body Elements*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Elements */
header {
    background-color: white;
    color: #841617;
    text-align: center;
    padding: 1em 0;
}

.OU-logo {
    width: auto;
    height: 100px !important;
    margin-left: 20px;
    margin-right: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo-section {
    display: flex;
    align-items: center;
}

.website-name {
    font-family: 'Dancing Script', sans-serif; /* Use the font family */
    color: #841617;
    font-size: 3em;
    font-weight: bold;
}

.nav-section {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.nav-button {
    background-color: white;
    color: #991516;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #991516;
    color: white;
}


/* Main Content Styling */
.main-content {
    text-align: center;
    padding: 50px;
}

.main-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #434343;
}

.search-container {
    margin-bottom: 30px;
}

.search-box {
    padding: 10px;
    width: 80%;
    max-width: 700px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #E5E5E5;
}

.search-box:focus {
    border-color: #841617;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-button {
    color: white;
    padding: 40px 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.explore-button {
    background-color: #991516;
}

.explore-button:hover {
    background-color: #4C0A0B;
}

.schedule-button {
    background-color: #E17272;
}

.schedule-button:hover {
    background-color: #703939;
}

.transcript-button {
    background-color: #F8CFCF;
}

.transcript-button:hover {
    background-color: #7C6767;
}



/* Footer Styling */
footer {
    text-align: center;
    padding: 1em;
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #434343;
}


